---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection, render } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

export const getStaticPaths = (async () => {
  const posts = (await getCollection("blog")).filter(
    (post) => !post.data.isDraft
  );
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props as InferGetStaticPropsType<typeof getStaticPaths>;
const { Content } = await render(post);
---

<MarkdownLayout frontmatter={post.data}>
  <Content />
</MarkdownLayout>
