---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Link from "../../components/Link.astro";
import rssIcon from "../../images/rss.svg";
import ContentLayout from "../../layouts/ContentLayout.astro";

const allPosts = await getCollection("blog");
---

<ContentLayout pageTitle="Actualités">
  <a
    class="hover:underline hover:decoration-2 hover:decoration-solid tracking-widest"
    href="/rss.xml"
    aria-label="Ouvrir le lien du flux RSS dans un nouvel onglet"
    target="_blank"
  >
    <Image src={rssIcon} alt="RSS icon" class="w-fit h-10" />
  </a>
  <div class="w-2/3">
    <ul role="listbox" class="my-5 md:my-10 list-disc">
      {
        allPosts.map(({ id, data: { title } }) => {
          if (id && title) {
            return (
              <li>
                <Link href={`/blog/${id}`} text={title} />
              </li>
            );
          }
        })
      }
    </ul>
  </div>
  <iframe
    width="100%"
    height="500"
    src="https://47ca03b0.sibforms.com/serve/MUIFAHMM67QqJCoDP0a3EP3A6dJV2aY9o6QkNC3zPdKAAzL-frD291cD_FeG8BxSz_DDIfTTua8mmAZcgBpn-MG_gAYLSyY17ThbIa5rbBnrk5zcKe25asQLtqURlsTghrOURchCnm3uYVTqy-PHlVd2VMmtdIsSbgeAa5ANcqHeIG1o_XjSHXxsAX87n-D6hiQZ15x1B3dkdK3B"
  ></iframe>
</ContentLayout>
