---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection, render } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

export const getStaticPaths = (async () => {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { id: page.id },
    props: { page },
  }));
}) satisfies GetStaticPaths;

const { page } = Astro.props as InferGetStaticPropsType<typeof getStaticPaths>;
const { Content } = await render(page);
---

<MarkdownLayout frontmatter={page.data}>
  <Content />
</MarkdownLayout>
