---
import { getCollection } from "astro:content";
import HomeCard from "../components/HomeCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const selectedProjets = (await getCollection("projets"))
  // ici, le filtre exclut les project dont le champ "displayInHomePage" n'existe pas
  .filter((projet) => !!projet.data.displayInHomePage)
  .sort((projet1, projet2) =>
    Number(projet1.data.displayInHomePage) <
    Number(projet2.data.displayInHomePage)
      ? -1
      : 1
  );

// La page d'accueil est une "Une" éditorialisée.
// Elle affiche un nombre de projets sélectionnés pour être en "Une"
// Ne pas dépasser 5 cartes. Ou alors il faut revoir l'ergonomie globale de la page.
// Sur lalise <ul>, sur la classe "md:grid md:grid-cols-4", le nombre de colonne doit correspondre au nombre de projets.
const numberOfCardsInHomePage = 4;

if (selectedProjets.length !== numberOfCardsInHomePage) {
  throw new Error(
    "Attention, il y a une incohérence entre le nombre de projets sélectionnés et le nombre de colonnes acutellement paramétrée."
  );
}
---

<style>
  ul {
    min-height: 50vh;
  }
</style>

<BaseLayout pageTitle="Accueil">
  <div
    class="md:py-10 md:mx-5 lg:mx-20 flex flex-col items-center justify-center justify-items-center"
  >
    <ul
      role="listbox"
      aria-label="Liste des spectacles"
      class="md:py-5 space-y-1 sm:space-y-5 md:space-y-0 md:gap-2 md:grid md:grid-cols-4 place-content-center"
    >
      {
        selectedProjets.map(
          ({
            id,
            data: { title, description, imagePathForCard, year, subTitle },
          }) => (
            <HomeCard
              href={`/projets/${id}`}
              title={title}
              subTitle={subTitle}
              description={description}
              image={imagePathForCard}
              year={year}
            />
          )
        )
      }
    </ul>
  </div>
</BaseLayout>

<script>
  function getRandomNumberAroundZero(boundary = 5) {
    // return random 2 decimals number between -5 and +5. Ex.: 4.56
    return (
      (Math.random() < 0.5 ? -1 : 1) *
      (Math.random() * boundary)
    ).toFixed(2);
  }

  // "group/card" is a class used in HomeCard component
  const cards = document.getElementsByClassName("group/card");
  const translations = Array(cards.length)
    .fill(0)
    .map(() => getRandomNumberAroundZero());

  function updateTranslation() {
    // we want to translate only when width is over 768px, corresponding to tailwind "md:"
    const isTranslated = window.matchMedia("(min-width: 768px)").matches;
    for (let i = 0; i < cards.length; i++) {
      (cards[i] as HTMLElement).style.transform = isTranslated
        ? `translateY(${translations[i]}rem)`
        : "none";
    }
  }
  updateTranslation();
  window.addEventListener("resize", updateTranslation);
</script>
