---
interface Props {
  href: string;
  image: string;
  title: string;
}
const { href, image, title } = Astro.props;
---

<li>
  <a href={href} aria-label={`Suivre le lien suivant : ${href}`}>
    <img
      alt=`Affiche du spectacle intitulé : ${title}`
      class="w-fit h-[40rem]"
      src={image}
    />
  </a>
</li>
