---
import { getEntry } from "astro:content";
import Link from "./Link.astro";

const pageWebsiteFactory = await getEntry("pages", "fabrication-du-site");
const pageContact = await getEntry("pages", "contact");
---

<footer class="backdrop-blur group/footer w-full border-t border-black">
  <div
    class="py-2 mx-5 flex flex-col md:flex-row md:justify-between items-end
      text-slate-200 text-opacity-50 hover:text-opacity-100"
  >
    <span class="md:px-5 md:pt-1">SIRET 924 246 002 00019 - APE 9001Z</span>

    <Link href={`/pages/${pageContact.id}`} text={pageContact.data.title} />

    <Link
      href={`/pages/${pageWebsiteFactory.id}`}
      text={pageWebsiteFactory.data.title}
    />
  </div>
</footer>
