---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  subTitle: string | undefined;
  description: string;
  href: string;
  image: string;
  year: string;
}
const { href, title, description, image, subTitle, year } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/**/*.{jpeg,jpg,png,gif,avif}"
);
const selectedImagePath = images[image];
if (!selectedImagePath)
  throw new Error(
    `"${image}" does not exist in glob: "/src/images/*.{jpeg,jpg,png,gif,avif}"`
  );
---

<li role="option" class="md:my-0 p-2 md:m-2 bg-card rounded group/card">
  <a
    class="md:opacity-70 group-hover/card:opacity-100"
    href={href}
    aria-label={`Suivre le lien suivant : ${href}`}
  >
    <div class="min-h-full flex flex-col justify-between">
      <div class="py-3 font-mono">
        <h2 class="text md:ml-1 md:text-xl font-semibold">{title}</h2>
        {!!subTitle && <h3>{subTitle}</h3>}
        <hr class="my-1" />
        <p
          class="text-right md:mr-1 text-sm line-clamp-2 text-ellipsis font-extralight"
        >
          {description}
        </p>
      </div>
      <Image
        src={selectedImagePath()}
        alt=`Illustration du spectacle ${title}`
      />
      <span
        class="text-center rounded bg-amber-50/60 px-2 py-1 text-xs font-medium text-sky-700 ring-1 ring-inset ring-sky-700/10"
      >
        Création : {year}
      </span>
    </div>
  </a>
</li>
