---
import { Image } from "astro:assets";
import logo from "../images/logo/CDP-Logo-Bandeau.svg";
---

<div class="my-5 md:my-0 md:mx-5 flex flex-col justify-end">
  <a href="/" aria-label="Accueil" class="flex hover:opacity-60">
    <Image class="md:h-36 w-auto" src={logo} alt="Logo de la compagnie" />
  </a>
</div>
