---
import { getCollection } from "astro:content";
import LinkToHome from "./LinkToHome.astro";
import SocialLinks from "./SocialLinks.astro";
import VerticalMenu from "./VerticalMenu.astro";

// first menu --> All pages + Additional links
const firstMenuItems = (await getCollection("pages"))
  .filter((page) => !!page.data.displayInNavbar)
  .map((page) => ({
    href: `/pages/${page.id}`,
    orderInNavbarMenu: Number(page.data.displayInNavbar),
    title: page.data.title,
  }));

const additionalItems = [];
const postsCollection = await getCollection(
  "blog",
  ({ data }) => !data.isDraft
);
if (postsCollection.length > 0) {
  additionalItems.push({
    href: "/blog",
    orderInNavbarMenu: 10,
    title: "↳ Newsletter/Blog",
  });
}
firstMenuItems.push(...additionalItems);

// second menu --> projets
const secondMenuItems = (await getCollection("projets"))
  .filter((page) => !!page.data.displayInNavbar)
  .map((projet) => ({
    href: `/projets/${projet.id}`,
    title: projet.data.title,
    orderInNavbarMenu: Number(projet.data.displayInNavbar),
  }));
---

<header class="md:my-2 border-b border-black backdrop-blur-sm">
  <nav class="flex flex-col md:flex-row">
    <SocialLinks />
    <LinkToHome />
    <div class="flex">
      <VerticalMenu items={firstMenuItems} />
      <VerticalMenu items={secondMenuItems} />
    </div>
  </nav>
</header>
