---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  carouselImagePath: string;
}

const { carouselImagePath } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../images/**/*.{jpeg,jpg,png,avif}"
);
const wantedKeys = Object.keys(images).filter((key) =>
  key.includes(carouselImagePath)
);
console.log({ wantedKeys });
---

<footer>
  <div class="grid grid-flow-col">
    {
      wantedKeys.map((key) => {
        const selectedImagePath = images[key];
        if (selectedImagePath) {
          return (
            <Image
              alt={`carousel’s element : ${key.split("/").pop()}`}
              src={selectedImagePath()}
            />
          );
        }
      })
    }
  </div>
</footer>
