---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const icons = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/logo/icon-{facebook,instagram,mail}.svg"
);
---

<menu
  class="border-r-0 md:border-r border-b md:border-b-0 border-black flex md:flex-col text-flex justify-end gap-y-1"
>
  {
    [
      {
        path: "/src/images/logo/icon-facebook.svg",
        href: "https://www.facebook.com/p/Compagnie-Le-Chant-des-Pistes-61559291285749/",
        alt: "Icône facebook",
      },
      {
        path: "/src/images/logo/icon-instagram.svg",
        href: "https://www.instagram.com/cielechantdespistes/",
        alt: "Icône instagram",
      },
      {
        path: "/src/images/logo/icon-mail.svg",
        href: "mailto:administration@lechantdespistes.fr",
        alt: "Envoyer un email",
      },
    ].map(({ path, href, alt }) => {
      const selectedImagePath = icons[path];
      if (selectedImagePath) {
        return (
          <li class="p-3">
            <a href={href} target="_blank">
              <Image
                src={selectedImagePath()}
                alt={alt}
                class="size-6 opacity-100 hover:opacity-60"
              />
            </a>
          </li>
        );
      }
    })
  }
</menu>
