---
import Link from "./Link.astro";
interface Props {
  items: Array<{ orderInNavbarMenu: number; href: string; title: string }>;
}
const { items } = Astro.props;
---

<menu
  class="md:mr-5 lg:mr-10 py-2 first:border-0 md:first:border-l border-l border-black flex flex-col text-flex justify-end gap-y-1"
>
  {
    items
      .sort((page1, page2) =>
        page1.orderInNavbarMenu < page2.orderInNavbarMenu ? -1 : 1
      )
      .map(({ href, title }) => (
        <li class="px-2 md:px-4">
          <Link href={href} text={title} />
        </li>
      ))
  }
</menu>
