@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-image {
    @apply bg-[url('images/illustrations_site/fondsite.avif')] bg-no-repeat bg-fixed bg-cover;
  }

  .bg-light-color {
    @apply bg-slate-100/80;
  }

  .bg-content {
    @apply backdrop-blur-sm bg-light-color;
  }

  .bg-card {
    @apply transition-colors ease-in-out duration-0
    bg-content md:bg-white/30 backdrop-sepia backdrop-blur-sm
    md:hover:bg-content;
  }

  p {
    text-align: justify;
  }

  hr {
    height: 1px;
    background-color: #073365;
    border: none;
  }

  pre {
    display: block;
    margin: 0 auto;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 500px;
    font-size: 16; /* Ajustez la taille du texte selon vos préférences */
    text-wrap: wrap;
  }

  iframe {
    display: block;
    border: none;
    width: 100%;
  }
}
