---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { seoDescription, seoTitle } from "../data/constants.ts";
import "../style.css";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={seoTitle}
      href={`${Astro.site}rss.xml`}
    />
    <meta name="description" content={seoDescription} />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{seoTitle} {pageTitle ? ` | ${pageTitle}` : ""}</title>
  </head>
  <body class="md:mx-5 bg-image min-h-screen flex flex-col justify-between">
    <div class="grow flex flex-col">
      <Navbar />
      <main class="flex-1 md:my-3">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
