---
import BaseLayout from "./BaseLayout.astro";
interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="md:mb-5 flex flex-col items-center">
    <div
      class="flex flex-col items-center w-full sm:w-5/6 lg:w-4/5 2xl:w-3/5 bg-content py-10 rounded"
    >
      <div class="my-10 text-lg prose prose-neutral">
        <h1 class="font-mono text-center lowercase">{pageTitle}</h1>
      </div>
      <slot />
    </div>
  </div>
</BaseLayout>
