---
import ContentLayout from "./ContentLayout.astro";
const { frontmatter } = Astro.props;
---

<ContentLayout pageTitle={frontmatter.title}>
  <div class="prose prose-neutral leading-5 p-5 md:px-10 lg:px:20 max-w-full">
    <slot />
  </div>
</ContentLayout>
