---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface SidebarProps {
  sidebar: CollectionEntry<"sidebars">;
}

const { sidebar } = Astro.props as SidebarProps;
const { Content } = await render(sidebar);
---

<aside class="flex flex-col items-center my-4">
  <div class="prose prose-neutral leading-2 md:text-sm text-xs p-5 max-w-full">
    <Content />
  </div>
</aside>
