---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, getEntry, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectSidebarLayout from "../../layouts/ProjectSidebarLayout.astro";

export const getStaticPaths = (async () => {
  const projets = await getCollection("projets");
  return projets.map((projet) => ({
    params: { id: projet.id },
    props: { projet },
  }));
}) satisfies GetStaticPaths;

const { projet } = Astro.props as InferGetStaticPropsType<
  typeof getStaticPaths
>;
const { Content: ProjetContent } = await render(projet);
const sidebar: CollectionEntry<"sidebars"> = await getEntry(
  projet.data.relatedSidebar
);
---

<BaseLayout pageTitle={projet.data.title}>
  <div class="md:mb-5 md:container mx-auto">
    <div class="flex gap-3 flex-col md:flex-row">
      <div class="basis-1/3 bg-content rounded">
        <ProjectSidebarLayout sidebar={sidebar} />
      </div>
      <div
        class="basis-2/3 bg-content rounded flex flex-col items-center py-10"
      >
        <div
          class="md:my-10 p-5 text-lg prose prose-neutral font-mono lowercase center"
        >
          <h1>{projet.data.title}</h1>
        </div>

        <div class="prose prose-neutral p-5 md:px-20 max-w-full">
          <ProjetContent />
        </div>
      </div>
    </div>
    <!-- <div class="flex gap-3">
      <ProjectFooter carouselImagePath={entry.data.carouselImagesPath} />
    </div> -->
  </div>
</BaseLayout>
